<!--The content below is only a placeholder and can be replaced.-->

<body>
This is the about page
<input type="button" (click)="stopUpdate()" class="btn btn-outline-primary" value="Stop Real Time Update">
<input *ngIf="!isArenaParticipant" type="button" (click)="enterArena()" class="btn btn-outline-primary" value="Enter the Arena">
<input *ngIf="isArenaParticipant" type="button" (click)="leaveArena()" class="btn btn-outline-primary" value="Leave the Arena">
<table class="table table-hover">
 <thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Some text here perhaps taunt?</th>
		<th scope="col">Restrictions</th>
		<th scope="col">Reward</th>
		<th scope="col">Action</th>
	</tr>
</thead>
<tr *ngFor="let battler of arenaBattlers">
	<td>{{battler.name}}</td>
	<td>Some text by battler</td>
	<a class="topic-link" [routerLink]="['/arena/match/',battler.matchId]">Stuff</a>
	<td>None</td>
	<td><input text="button" class="btn btn-outline-primary" (click)=prepareAttack(battler) value="Prepare to Attack"></td>
</tr>
</table>
</body>

