<body class="forum">
  topic page works!
  		<div *ngIf="displayReplyForm">
			<button #replyBtn type="button" (click)="moveToReplyForm()" class="btn btn-primary btn-hover">Reply</button>
		</div>
  <div class="reply-container">
  {{topicTitle}}
	<div *ngFor="let reply of replies" class="reply-details">
		<div class="reply-userInfo">
			<img class="reply-avatar" width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
			<span class="reply-user">{{reply.author}}</span>
		</div>
		<span class="reply-comment">{{reply.replyComment}}</span>
	</div>
  </div>
  
  <div *ngFor="let page of pageholder" class="pagination inline">
	    <li *ngIf="page==currentPage" class="page-item active">
	      <a class="page-link" >{{page}}</a>
	    </li>
		<li *ngIf="page!=currentPage" class="page-item">
	      <a class="page-link" routerLink="/forum/{{forum}}/topic/{{topicId}}/page/{{page}}">{{page}}</a>
	    </li>
  </div>

	<div class="reply-form" *ngIf="displayReplyForm && isOnline" #replyDiv>
		<form (ngSubmit)="createTopicReply()">
			<fieldset>
				<legend>Reply</legend>
				<div class="form-group">
					<textarea [(ngModel)]="topicReplyText" class="form-control" name="newTopicReplyBody" rows="6"></textarea>
				</div>
				<button #addReplyBtn type="submit" class="btn btn-success">ADD REPLY</button>
			</fieldset>
		</form>
	</div>
		<div class="reply-form-locked" *ngIf="!displayReplyForm">
			<div class="reply-form-locked-text">Topic is locked</div>	
		</div>
		<div class="reply-form-locked" *ngIf="displayReplyForm && !isOnline">
			<div class="reply-form-locked-text">Log in to join the discussion.</div>
		</div>
</body>

