

.forum {
	min-height: 600px;
}

.reply-container{
	display:block;
	font-size: 1.0625rem;
	height: 100%;
}

.reply-form{
	margin-left:20%;
	margin-right:20%;
}
.reply-form-locked{
	padding:2.5rem;
	margin-left:20%;
	margin-right:20%;
	border: 1px gray solid;
}

.reply-form-locked-text{
	margin-left:20%;
	margin-right:20%;
	text-align: center;
	font-size: 1.2rem;
	font-weight:bold; 
}

.reply-user{
	border: 1px red solid;
	width:50%;
	display:inline-block;
	height:100%;
	vertical-align:top;
}

.reply-avatar{
	border: 1px pink solid;
	width:48%;
	display:inline-block;
	height:100%;
}

.reply-userInfo{
	display:inline-block;
	width:20%;
}

.reply-comment{
	border: 1px purple solid;
	width:75%;
	display:inline-block;
}

.reply-details{
	padding: .875rem 0 .875rem .875rem;
	min-height:60px;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	margin:2.5rem;
}

.inline{
	display:inline-block;
}
