
*.class
RESTBackEnd/bin/application.properties
RESTBackEnd/.settings/org.eclipse.wst.common.project.facet.core.xml
RESTBackEnd/.settings/org.eclipse.wst.common.component
RESTBackEnd/.settings/org.eclipse.buildship.core.prefs
RESTBackEnd/.project
RESTBackEnd/.gradle/buildOutputCleanup/cache.properties
RESTBackEnd/.classpath
