.float_center {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

.float_center>.child {
	position: relative;
	left: 50%;
}

.forum {
	height: 600px;
}

.topic-container{
	display:block;
	font-size: 1.0625rem;
	height: 100%;
}

.topic-details{
	padding: .875rem 0 .875rem .875rem;
	min-height:60px;
}

@media only screen and (min-width: 641px) {
	.topic-details {
/* 		padding: 0; */
	}
}

.topic-link {
	display: inline-block;
	width: 100%;
	border-top-color: rgba(255, 255, 255, .15);
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: rgba(255, 255, 255, .15);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.topic-title{
	display:inline-block;
	width:50%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
/* 	border: 1px red solid; */
	
}
.topic-comment{
	display:inline-block;
	width:15%;
/* 	border: 1px blue solid; */
	overflow: hidden;
}
.topic-author{
	display:inline-block;
	width:15%;
/* 	border: 1px purple solid; */
	overflow: hidden;
}
.topic-timestamp{
	display:inline-block;
	width:15%;
	text-align: right;
/* 	border: 1px orange solid; */
	overflow: hidden;
}

.topic-title-wrapper{
	display:inline-block;
	width: 100%;
}

.forum-container{
 	margin: 5rem; 
}

.topic-container a:hover {
	text-decoration: none;
}
.btn-hover{
	cursor: pointer;
}
