.forum-body {
/* 	min-height: 600px; */
	overflow: auto;
}

.forum{
	padding:2.5rem;
 	outline: 1px gray solid; 
}

.forum-link{
	width:100%;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: bold;
}

.forum-container{
	margin: 5rem;
	margin-left:20%;
	margin-right:20%;
	margin-top:10%;
	display: block;
/* 	outline: 1px purple solid; */
}

.forum-container a:hover{
	text-decoration: none;
}