<body class="forum">
  enemy-details works!
    <div class="reply-container">
 	<div>title</div>
 	<div>Match Status:{{matchStatusText}}</div>
	<div  class="reply-details">
		<div class="reply-userInfo">
			<div class="reply-avatar-container">
				<img class="reply-avatar" width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
			</div>
			<div class="reply-user-container">
				<span class="reply-user">Name:{{enemyBattler.name}}</span>
				<span class="reply-user">Type:Player</span>
				<span class="reply-user">Level:{{enemyBattler.level}}</span>
				<span class="reply-user">Atk:{{enemyBattler.attack}}</span>
				<span class="reply-user">Def:{{enemyBattler.defense}}</span>
			</div>		
		</div>
		<div class="reply-comment" >
		<input type="button" (click)="attack()"class="btn btn-outline-primary" [ngClass]="{'disabled':attackIsDisabled}" value="Attack">
		<input type="button" class="btn btn-outline-primary" value="Run">
		</div>
	</div>
	
	Battler who have fallen to {{enemyBattler.name}} in this Arena Match:
	<div *ngFor="let battle of arenaBattles"  class="reply-details">
		<div class="reply-userInfo">
			<div class="reply-avatar-container">
				<img class="reply-avatar" width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
			</div>
			<div class="reply-user-container">
				<span class="reply-user">Name:{{battle.attackerBattler.name}}</span>
				<span class="reply-user">Type:Player</span>
				<span class="reply-user">Level:{{battle.attackerBattler.level}}</span>
				<span class="reply-user">Atk:{{battle.attackerBattler.attack}}</span>
				<span class="reply-user">Def:{{battle.attackerBattler.defense}}</span>
			</div>		
		</div>
		<div class="reply-comment" >Battle log info should show here</div>
	</div>
  </div>
</body>
