<div class="register">
<p>register works!</p>

<div class="register-container">
<form (ngSubmit)="registerNewAccount()">
	<fieldset>
		<legend>Account Registration</legend>
		<label for="name">Username:</label>
		<input (keyup)="typedUsername.next($event.target.value)" class="register-input" required [(ngModel)]="username" name="name" id="name" type="text" #name="ngModel">
			<div [hidden]="!hasError" class="alert alert-danger inline">
				<div [hidden]="!hasError">{{usernameErrorMsg}}</div>
			</div>
			<div [hidden]="hasError" class="alert alert-success inline">
				<div [hidden]="hasError">{{usernameErrorMsg}}</div>
			</div>
		<br>
		<label for="account-pwd">Password:</label>
		<input class="register-input"  [(ngModel)]="password" name="account-pwd" id="account-pwd" type="password"><br>
		<button type="submit" class="btn btn-primary">Create</button>
	</fieldset>
</form>
</div>
</div>
