
<body class="forum">
	forum works!
	<div class="forum-container">
		<div>
			<button #topicBtn type="button"  (click)="createTopic()" class="btn btn-primary btn-hover">NewTopic</button>
		</div>	
		<div class="topic-container">
			<div *ngFor="let topic of topics">
				<a class="topic-link" [routerLink]="['./topic',topic.id]">
					<div class="topic-details">
						<span class="topic-title">
							<span class="topic-title-wrapper" placement="bottom" ngbTooltip="Topic tooltip ">{{topic.title}}</span>
						</span>
						<span class="topic-comment">{{topic.replies}}</span>
						<span class="topic-author">{{topic.author}}</span> 
						<span class="topic-timestamp">{{topic.created}}</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- 	<data-table [dataList]="topicList" [header]="" (rowClick)="test($event)"></data-table> -->

<div class="float_center">
	<ul class="pagination">
    <li *ngIf="showPrevPage" class="page-item">
      <a *ngIf="currentPage-1!=1" class="page-link"  routerLink="page/{{currentPage-1}}"> &lt; PREVIOUS</a>
      <a *ngIf="currentPage-1==1" class="page-link"  routerLink="/forum"> &lt; PREVIOUS</a>
    </li>
    <li *ngIf="showNextPage" class="page-item">
      <a class="page-link"  routerLink="page/{{currentPage+1}}">NEXT &gt;</a>
    </li>
  </ul>
</div>
</body>
