<body class="forum">
  topic page works!
  
  <div class="reply-container">
  {{topicTitle}}
	<div *ngFor="let reply of replies" class="reply-details">
		<span class="reply-user">{{reply.author}}</span>
		<span class="reply-comment">{{reply.replyComment}}</span>
	</div>
  </div>
  
  <div *ngFor="let page of pageholder" class="pagination inline">
	    <li *ngIf="page==currentPage" class="page-item active">
	      <a class="page-link" >{{page}}</a>
	    </li>
		<li *ngIf="page!=currentPage" class="page-item">
	      <a class="page-link" routerLink="/forum/topic/{{topicId}}/page/{{page}}">{{page}}</a>
	    </li>
  </div>
</body>

