<body class="forum">
  topic page works!
  		<div *ngIf="displayReplyForm">
			<button #replyBtn type="button" (click)="moveToReplyForm()" class="btn btn-primary btn-hover">Reply</button>
		</div>
  <div class="reply-container">
  {{topicTitle}}
	<div *ngFor="let reply of replies" class="reply-details">
		<span class="reply-user">{{reply.author}}</span>
		<span class="reply-comment">{{reply.replyComment}}</span>
	</div>
  </div>
  
  <div *ngFor="let page of pageholder" class="pagination inline">
	    <li *ngIf="page==currentPage" class="page-item active">
	      <a class="page-link" >{{page}}</a>
	    </li>
		<li *ngIf="page!=currentPage" class="page-item">
	      <a class="page-link" routerLink="/forum/topic/{{topicId}}/page/{{page}}">{{page}}</a>
	    </li>
  </div>

	<div *ngIf="displayReplyForm" #replyDiv>
		<form (ngSubmit)="createTopicReply()">
			<fieldset>
				<legend>Reply</legend>
				<div class="form-group">
					<textarea [(ngModel)]="topicReplyText" class="form-control" name="newTopicReplyBody" rows="3"></textarea>
				</div>
				<button #addReplyBtn type="submit" class="btn btn-success">ADD REPLY</button>
			</fieldset>
		</form>
	</div>
</body>

