<body class="deck">
	battler home works!
	<div class="deck-container">
		<div class="deck-option-details">
			<div class="deck-option">
				<a class="deck-link" routerLink="/profile">Profile</a>
			</div>
			<div class="deck-option">
				<a class="deck-link" routerLink="/adventure">Adventure</a>
			</div>
			<div class="deck-option">
				<a class="deck-link" routerLink="/arena">Arena</a>
			</div>
			<div class="deck-option">
				<a class="deck-link" routerLink="/ranking">Ranking</a>
			</div>
			<div class="deck-option">
				<a class="deck-link" routerLink="/settings">Settings</a>
			</div>
		</div>
	</div>
</body>
